{% extends 'admin/base_site.html' %}
{% load i18n admin_urls static ry_admin_list %}
<!--查看数据 入口-->
{% block content %}
    <div class="x-nav">

        <a class="layui-btn layui-btn-small" style="line-height:1.6em;margin-top:3px;float:right"
           href="javascript:location.replace(location.href);" title="刷新">
            <i class="layui-icon" style="line-height:30px">ဂ</i>
        </a>
    </div>
    <div class="x-body">
        <div class="layui-show">
            {% block search %}{% search_form cl %}{% endblock %}

            {% change_list_object_tools %}

            {% result_list cl %}
            {% block pagination %}{% pagination cl %}{% endblock %}
        </div>
    </div>

{% endblock %}