{% extends 'admin/base.html' %}
{% load simpletags i18n %}
{% block content %}
    <body class="login-bg">
    <div class="login layui-anim layui-anim-up">
        <div class="message">{{ site_header }}</div>
        <div id="darkbannerwrap"></div>
        <form class="layui-form" action="{{ app_path }}" method="post">
            {% csrf_token %}
                <input type="text" name="username" required lay-verify="required" placeholder="用户名" autocomplete="off"
                       class="layui-input">

            <hr class="hr15">
                <input type="password" name="password" required lay-verify="required" placeholder="密码"
                       autocomplete="off"
                       class="layui-input">

            <hr class="hr15">
            <button type="submit" class="layui-btn" style="width: 100%;">登录</button>
            <hr class="hr20">
            {% if form.errors and not form.non_field_errors %}
                <p class="errornote">
                    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}
                        {% trans "Please correct the errors below." %}{% endif %}
                </p>
            {% endif %}
            {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="errornote">
                        {{ error }}
                    </p>
                {% endfor %}
            {% endif %}
            <input type="hidden" name="next" value="{{ next }}"/>
        </form>
    </div>
    </body>
{% endblock %}